<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Hello, world!</title>
   <style>
.c{

  display: flex;
}
.nav{

height: 100vh;

background-color: blueviolet;
max-width: 28%;
position:absolute;
left: 0;
color:white;

}

.nav ul{

  list-style: none;
  
}
li{

  margin: 40px 0px;
}
a{

  color:white;
}
a:hover{

  text-decoration: none;
   position: relative;
 width: 100%;
 left: 0;
 right:0;
 padding: 0 5px;
 color:black;
 background-color: azure;
}
li a{

text-decoration: none;

}
li:hover{



}
.bell{

background-color: red;
    color: white;
    border-radius: 100%;
    position: absolute;
   
   padding: 1px 9px;
    top: 25%;
    right: 40%;



}

.main{

background-color:#F1F2F4

}
   </style>
  </head>
  <body>

<div class="container-fluid c">
<i class='fas fa-user-edit' style='font-size:36px'></i>
<div class="container nav">

<nav class="nav-bar text-center mt-5">

<h2 class="text-center">Welcome to Admin Panel</h2>
<ul class="mt-5 p-5">
  {{coun}}
<div class="li">
  <div class="msg">
{{!-- <form action="userMessages">
<li><a href="userMessages">Check Messages</a><i class="fa fa-bell" style="font-size:30px;color:rgb(41, 40, 40)"></i><span class="bell">{{count}}</span></li>

</form> --}}
<li><a href="userMessages">Check Messages</a><i class="fa fa-bell" style="font-size:30px;color:rgb(41, 40, 40)"></i><span class="bell">{{count}}</span></li>

</div>
<li><a href="hello">Change Content</a></li>
<li><a href="darkmode">Dark Mode</a></li>
<li><a href="proUpload">Product Uploads</a></li>
</div>


</ul>


</nav>


</div>
<div class="container main text-center">

<h1 class="text-success">Welcome to Admin Panel</h1>



</div>


</div>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>