
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>

   a {

      color:white;
    }
 a:hover{

color:black;
  }

 


#navbarSupportedContent{


      margin: 0px 180px;
}
.mynav{

  background-color: rgb(8, 8, 8) !important;
}
</style>
</head>
<body>


<nav class="navbar navbar-expand-lg  navbar navbar-dark bg-success mynav">
  <img src="cart.png" class="img-fluid">
 
 <i class="fa-solid fa-spinner fa-spin-pulse"></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"href="index">Home<span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
     
  
      
      <li class="nav-item">
        <a class="nav-link" href="products">Products</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="contact">Contact us</a>
      </li>
      
     
    </ul>


    <div class="">
    <ul class="navbar-nav ml-auto left-mn">
        <li class="nav-item">
        <a class="nav-link" href="Signin">Sign in</a>
      </li>
            <li class="nav-item">
        <a class="nav-link " href="Signup">Sign up</a>
      </li>
      </ul>
    </div>


  </div>
</nav>


</body>
</html>
